# Environment Variables Template

# Port for the Node.js server
PORT=5000

# MongoDB Connection String (Atlas or Local)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/pi_signage?retryWrites=true&w=majority

# Cloudinary Credentials (Required for cloud storage)
# Get these from your Cloudinary Dashboard: https://cloudinary.com/console
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

#Admin_Password is the password for the admin user
ADMIN_PASSWORD=admin123

#JWTkey 
JWT_SECRET=yoursecretkey123
